.Histogram_Total {
    min-width:27%;
    text-align: right;
    display:flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
    flex:1;
        -webkit-box:1;
        -moz-box:1;
        -ms-flexbox:1;
        -webkit-flex:1;
    justify-content:flex-end;
}

