.Layout {
    width: 100%;
    height: calc(100% - 90px);
    margin-top: 90px;
    display: flex;
    position: fixed;
}

@media (max-width: 850px) {
    .Layout {
        height: calc(100% - 56px);
        margin-top: 56px;
        display: block;
    }
}
