.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 901;
    background: white;
    padding: 32px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform .3s ease-out;
    -webkit-transition: transform .3s ease-out;
    -moz-transition: transform .3s ease-out;
    -ms-transition: transform .3s ease-out;
    -o-transition: transform .3s ease-out;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

@media (min-width: 851px) {
    .SideDrawer {
        display: none;
    }
}
