.Header {
    position: fixed;
    width: 100%;
    background: #5B5D62;
    height: 90px;
    z-index:900;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
  }

.NavWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 2rem;
}

@media (max-width: 850px) {
  .NavWrapper {
      display: none;
  }
  
  .Header {
    height: 56px;
  }
}