.TooltipWrapper,
.custom-tooltip-agglos{
  background-color: #5b5d62;
  padding:5px;
  font-size:12px;
  color:white;
  z-index:1;
}

.TooltipWrapper_Compare {
  background-color: #5b5d62;
  padding:5px;
  color:white;
  font-size:12px;
  z-index:1;
}

/* .TooltipWrapper span::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #5B5D62 transparent transparent transparent;
} */

.TooltipWrapper > span{
    font-weight:600;
}

.custom-tooltip-agglos p > span{
      /* color:#c5543f; */
}

.custom-tooltip-agglos > span{
    /* color:#c5543f; */
    font-weight:600;
}

.TooltipWrapper > p{
      /* color: #E8AE40; */
      font-weight: 600;
}